<div class="relative flex items-center w-full h-full bg-base-100 text-base-content">
  <div class="container mx-auto">
    <div class="text-center my-10">
      <h2 class="header-2 text-neutral">Onde Estamos</h2>
      <p class="mt-2 title-font text-4xl">
        Visite-nos em uma de nossas unidades.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-40">
      <div
        class="card rounded-xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-base-200 text-neutral w-[320px] mx-auto px-2">
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Crateús</h2>
          <p class="text-md roboto-thin">R. Cel. Lúcio, 649A, Centro.</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
      <div
        class="card rounded-xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-base-200 text-neutral w-[320px] mx-auto px-2">
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Fortaleza</h2>
          <p class="text-md roboto-thin">R. José de Alencar Ramos, 385, Luciano Cavalcante.</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
      <div
        class="card rounded-xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-base-200 text-neutral w-[320px] mx-auto px-2">
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Sobral</h2>
          <p class="text-md roboto-thin">Av. Lúcia Sabóia, 515 sala 05, Centro.</p>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
