<div class="relative flex items-center w-full h-full bg-base-100 text-base-content">
  <div class="container mx-auto">
    <div class="text-center my-10">
      <h2 class="text-xl title-font font-bold text-neutral">Nossos serviços</h2>
      <p class="mt-2 title-font text-4xl">
        Nossas atuações.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito Civil</h2>
          <p class="text-md roboto-thin">Consultoria e representação em contratos e responsabilidade civil.</p>
        </div>
      </div>
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito Trabalhista</h2>
          <p class="text-md roboto-thin">Atuação em reclamações trabalhistas e defesas empresariais.</p>
        </div>
      </div>
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito Penal</h2>
          <p class="text-md roboto-thin">Defesa em processos criminais, garantindo direitos fundamentais.</p>
        </div>
      </div>
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito Empresarial</h2>
          <p class="text-md roboto-thin">Consultoria em fusões, aquisições e estruturação societária.</p>
        </div>
      </div>
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito Ambiental</h2>
          <p class="text-md roboto-thin">Assessoria em licenciamento ambiental e legislação ambiental.</p>
        </div>
      </div>
      <div class="card rounded-none shadow-[0_3px_10px_rgb(0,0,0,0.2)] flex-row items-center bg-secondary text-neutral h-[240px] mx-auto px-2">
        <div class="card-body px-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
        <div class="card-body p-4 items-center">
          <h2 class="card-title title-font text-2xl">Direito do Consumidor</h2>
          <p class="text-md roboto-thin">Proteção e defesa dos direitos do consumidor.</p>
        </div>
      </div>
    </div>
  </div>
</div>

