<div class="relative flex flex-col w-full h-full bg-primary text-primary-content">

  <div class="relative hero mt-40">
    <div class="relative hero-content w-10/12 max-w-screen-2xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mr-0 items-start">
        <div class="relative flex flex-col justify-center items-center">
          <div class="absolute inset-0 bg-accent left-20 -top-8 mt-1 w-10/12 -z-10"></div>
          <img src="{{ static('images/fernando_nobg3.png?version=1') }}" alt="Fernando Carvalho em terno azul"
            class="w-10/12 my-auto" />
        </div>
        <div class="container flex flex-col justify-end mr-0 my-auto text-center md:text-left">
          <h1 class="title-font text-3xl font-semibold text-secondary">Sobre o nós</h1>
          <h2 class="tlgle-light text-4xl text-info-content font-bold mt-2">Bem vindo ao nosso escritório</h2>
          <div class="text-base-300 roboto-light text-md text-justify mt-5">
            <p>
              O Escritório de <span class="text-secondary font-bold">Advocacia Fernando Carvalho</span> foi fundado com
              o propósito de oferecer
              serviços jurídicos de excelência, sempre priorizando a satisfação do cliente.
              Com mais de 20 anos de experiência, nossa equipe de advogados é especializada
              em atuar nas mais diversas áreas do Direito, como Direito Civil, Direito do Trabalho,
              Direito Penal e Direito Empresarial, garantindo soluções personalizadas e
              eficazes para cada caso.
            </p>
            <p class="mt-4">
              Com unidades em <strong>Crateús</strong>, <strong>Fortaleza</strong> e <strong>Sobral</strong>,
              nossa equipe conta com profissionais experientes, capacitados e dedicados a
              proporcionar uma experiência de alto padrão, aliando conhecimento técnico e
              sensibilidade às necessidades de cada cliente. Nossa missão é resolver os
              problemas jurídicos de nossos clientes de forma rápida, segura e eficaz,
              sempre mantendo a confidencialidade e o sigilo profissional.
            </p>
            <p class="monsieur-la-doulaise-regular text-3xl mt-5">Fernando Carvalho</p>
            <p>
              <strong class="text-secondary ">OAB/CE 39.499 - Fernando Carvalho</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mais serviços podem ser adicionados conforme necessário -->
</div>