<!-- Navbar -->
<header class="navbar font-header w-full justify-end fixed top-0 right-0 left-0 z-20 bg-base-100">
  <div class="flex-1 px-2 mx-2">
    <!-- Logo e Nome do Escritório -->
    <a href="#" class="flex items-center space-x-2">
      <img src="{{ static('images/logo.png?version=1') }}"
        alt="Logo: duas letras F azuis, sendo uma espelhada, formando como se fosse um losango" class="w-10" />
      <span class="title-font text-xl font-bold text-primary">Fernando Carvalho Advocacia</span>
    </a>
  </div>
  <!-- Menu Desktop -->
  <nav class="invisible md:visible md:flex space-x-4 px-4">
    <a href="#sobre" class="text-base-content hover:text-primary transition">Sobre</a>
    <a href="#servicos" class="text-base-content hover:text-primary transition">Serviços</a>
    <a href="#contato" class="text-base-content hover:text-primary transition">Contato</a>
  </nav>
  <!-- Alternância de Tema -->
  <div class="flex">
    <input type="checkbox" value="synthwave" class="toggle theme-controller" />
    <div class="flex-none">
      <button class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg>
      </button>
    </div>
  </div>
  <!-- Menu Mobile (Hamburger) -->
  <div class="md:hidden dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </label>
    <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#servicos">Serviços</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </div>
</header>

<script>
  const themeToggle = document.querySelector('.theme-controller');
  const currentTheme = localStorage.getItem('theme') || 'custom';

  if (currentTheme === 'custom-dark') {
      document.documentElement.setAttribute('data-theme', 'custom-dark');
      themeToggle.checked = true;
  } else {
      document.documentElement.setAttribute('data-theme', 'custom');
  }
  
  themeToggle.addEventListener('change', function () {
      if (themeToggle.checked) {
          document.documentElement.setAttribute('data-theme', 'custom-dark');
          localStorage.setItem('theme', 'custom-dark');
      } else {
          document.documentElement.setAttribute('data-theme', 'custom');
          localStorage.setItem('theme', 'custom');
      }
  });
</script>