<div
  class="hero h-full"
  style="background-image: url('{{ static('images/hero2.jpg?version=1') }}');">
  <div class="hero-overlay bg-opacity-[0.01]"></div>
    <div class="hero-content text-neutral-content text-center mb-40 mr-60">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="container col-span-2 flex flex-col justify-center text-center md:text-left">
                <h1 class="font-header-4 text-base-100 leading-tight">Fernando Carvalho</h1>
                <h2 class="title-font text-primary font-header-3 leading-tight">
                    Excelência em Serviços Jurídicos
                </h2>
                <p class="roboto-light text-base-100 text-xl w-[600px] mt-4">
                    Proteja o seu futuro e garanta seus direitos com o suporte de uma equipe
                    altamente especializada. Nossa missão é oferecer soluções de alto padrão
                    e confiança para cada cliente.
                </p>
                <a href="#contato" class="btn btn-primary-content w-32 text-primary mt-4">Fale Conosco</a>
            </div>
            <div class="flex flex-col justify-center text-center md:text-left">
            </div>
        </div>
    </div>
</div>